:root {
	--primary-color: #282c34;
	--secondary-color: #4d628b;
	--text-color: white;
  }
  
  body.light-mode {
	--primary-color: #ffffff;
	--secondary-color: #61dafb;
	--text-color: black;
  }
  
  html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
  }
  
  .App {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Full viewport height */
  }
  
  .navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px; /* Reduced padding */
	background-color: var(--secondary-color);
	color: var(--text-color);
	box-sizing: border-box;
	position: fixed; /* Fixed at the top */
	top: 0;
	left: 0;
	z-index: 1000; /* Ensures navbar is on top */
	height: 50px; /* Adjust height as needed */
  }
  
  .App-content {
	margin-top: 50px; /* Adjust according to navbar height */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
	color: var(--text-color);
	width: 100%;
	height: calc(100vh - 50px); /* Adjust height to fill screen excluding navbar */
	padding: 20px;
	box-sizing: border-box;
  }

  input {
	padding: 10px;
	font-size: 16px;
	margin: 10px;
	width: calc(100% - 20px);
	max-width: 400px;
  }
  
  button {
	padding: 10px;
	font-size: 15px;
  }
  
  h2 {
	margin: 20px 0 10px;
  }
  
  p {
	margin: 5px 0;
  }
  
  @media (max-width: 600px) {
	.navbar {
	  flex-direction: column;
	}
  
	.navbar h1 {
	  margin-bottom: 5px; /* Adjust margin if needed */
	}
  }
  